$o-grid-is-silent:  false;
@import 'o-fonts/main';
@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';
@import 'o-hoverable/main';

@import 'fonts';

$o-grid-gutters: (default: 10px);
$rep: #b3244b;
$dem: #273c8f;

body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}

main {
  padding: 0 10px;
}

.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    
    &:hover {
      opacity: 1;
    }
  }

}
  .masthead {
    height: 18px;
  }

// Line Copy 3: */
// border: 2px solid #C0B6A9;
// Line Copy 4: */
// border: 2px solid #C0B6A9;
// arrow: */
// border: 2px solid #C0B6A9;

// White Rectangle: */

.headline {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 2.5em;
  color: #333333;
  line-height: 1.2em;
  text-align: center;
  position: relative;
  font-weight: normal;
  margin: 6px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  width: 32px;
  top: 4px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  > img {
    width: 100%;
  }
}
.intro {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 1em;
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 16px;
  color: #505050;
  line-height: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro a {
  text-decoration: none;
  color: #2e6e9e;
}

.dates,
.labels {
  @include oGridColspan((default: 12, M: 10, L: 8));
  @include oGridCenter;
}

.charts {
  @include oGridColspan((default: 12, M: 12, L: 10));
  @include oGridCenter;
}

.chart-title {
  text-align: center;
  font-weight: 200; 
  font-size: 24px;
  color: oColorsGetPaletteColor('grey-tint5');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.candidate__name,
.candidate__bar,
.candidate__value {
  display: inline-block;
}

.candidate__name {
  width: 85px;
  font-size: 14px;
  color: oColorsGetPaletteColor('pink-tint5');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
}

.candidate__bar {
  position: relative;
  top: 5px;
  height: 20px;
  &.candidate__bar--Democrat {
    background: $dem;
  }
  &.candidate__bar--Republican {
    background: $rep;
  }
}

.candidate__value {
  font-size: 13px;
}

.dates a {
  text-decoration: none;
  &:hover h3 {
    text-decoration: underline;
  }
}

.date-label {
  font-size: 12px;
  position: relative;
  top: -14px;
  color: oColorsGetPaletteColor('pink-tint5');
}
.map {
  @include oGridColspan((default: 3, S: 2, M: 2, L: 2));
}

.stateinfo {
  @include oGridColspan((default: 4, S: 5, M: 6));
}

.labels__holder {
  margin-left: 20px;
  margin-bottom: 4px;
}

.labels__rep,
.labels__dem {
  font-size: 12px;
  text-align: center;
  min-width: 50px;
}

.delegates__dem,
.delegates__rep {
  @include oGridColspan((default: 2));
  font-size: 20px;
  font-weight: 200;
  text-align: right;
}

.delegates__rep--holder,
.delegates__dem--holder {
  text-align: center;
}

.date-group {
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid oColorsGetPaletteColor('pink-tint4');
}

.date-group .card:last-child {
  border-bottom: 0;
}

.date-heading {
  width: 50px;
  overflow: hidden;
  float: left;
  font-size: 12px;
}

.card {
  // display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e9decf;
  margin-left: 20px;
  padding: 5px 0;
}

.card__body {
  display: relative;
  width: 100%;
}

.longstate {
  display: none;
}


.longstate,
.shortstate {
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  font-weight: 500;
  color: oColorsGetPaletteColor('grey-tint5');
  font-size: 18px;
  margin: 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shortstate {
  font-size: 14px;
}

.map img {
  width: 100%;
  max-width: 70px;
}

.stateinfo {
  // padding-left: 10px;
}

.blurb {
  display: none;
}

.delegates__rep {
  color: $rep;
}

.delegates__dem {
  color: $dem;
}


.stateinfo h3 {
  margin: 0 0 4px;
}

.img-holder {
  // overflow: hidden;
}

// Blurb: */
.standfirst {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 16px;
  color: #505050;
  line-height: 22px;
  margin-top: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.story-promo {
  text-decoration: none;
  color: oColorsGetPaletteColor('grey-tint4');
  line-height: 1.2em;
  position: relative;
  bottom: 0;

  & > .link {
    // display: block;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
    float: right;

    &:after {
      content: " ";
      background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=44&tint=9B164F,9B164F&source=ig_wrr') no-repeat center center;
      background-size: 20px 20px;
      position: absolute;
      bottom: -34px;
      // right: 0;
      width: 20px;
      height: 20px;
      margin: 0 7px 8px 0;
    }
  }
}

// share links
$twitter-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+';

$facebook-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=';

$linked-in-logo: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS0xMDMuMzMyLTkxLjMzYy41My41MzUgMS4xNy44MDMgMS45MTcuODAzLjc1IDAgMS4zODgtLjI2OCAxLjkxNy0uODAzLjUzLS41MzUuNzk1LTEuMTgzLjc5NS0xLjk0MiAwLS43Ni0uMjY1LTEuNDA0LS43OTUtMS45MzRzLTEuMTctLjc5NS0xLjkxNy0uNzk1Yy0uNzQ4IDAtMS4zODcuMjYtMS45MTcuNzlzLS43OTUgMS4xNy0uNzk1IDEuOTMuMjY1IDEuNDA3Ljc5NSAxLjk0MnptNC4yMzYgMTcuNTgzdi0xNC44M2gtNC41ODh2MTQuODNoNC41ODh6bTE3LjIyMyAwdi05LjM5YzAtMS45MjMtLjQ5LTMuMzg3LTEuNDc1LTQuMzkyLS45ODMtMS0yLjI5NC0xLjUtMy45MzMtMS41LS41OSAwLTEuMTUuMDg2LTEuNjcuMjU1LS41Mi4xNy0uOTQuMzc0LTEuMjcuNjE1LS4zMy4yNC0uNjE3LjQ4LS44Ni43Mi0uMjQ4LjI0LS40Mi40NDItLjUxOC42MDZsLS4xNjUuMjZ2LTEuOTk2aC00LjQwOHYxNC44M2g0LjQwN3YtNy43ODVjMC0xLjA2LjI0LTEuODguNzItMi40Ni40ODQtLjU4IDEuMTc3LS44NjcgMi4wODQtLjg2NyAxLjY3IDAgMi41MDggMS4xMSAyLjUwOCAzLjMyN3Y3Ljc4aDQuNTc0eiIvPjwvc3ZnPg==';

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.share-links-holder {
  max-width: 720px;
  margin: 0 auto;
}

.share-links {  
  // margin-left: 10px;
  text-align: center;
  > p { 
    @include visually-hidden;
  }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;
    }
  }



  &__link {
    $size: 40px;

    display: block;
    width: $size;
    height: $size;
    border-radius: 2px;
    background-size: $size $size;

    &--twitter { background-image: url('data:image/svg+xml;base64,' + $twitter-logo); }
    &--facebook { background-image: url('data:image/svg+xml;base64,' + $facebook-logo); }
    &--linked-in { background-image: url('data:image/svg+xml;base64,' + $linked-in-logo); }

    &:hover { background-color: oColorsGetPaletteColor('pink-tint2'); }
    &:active { background-color: oColorsGetPaletteColor('pink-tint3'); }

    > span { @include visually-hidden; }
  }

}

//credits
.byline {
  font-family: MetricWeb;
  font-size: 14px;
  font-weight: 200;
  color: #74736c;
  margin: 0 auto;
  margin-top: 2rem;
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  padding-top: 8px;
  // max-width: 800px;

  div {
    margin-bottom: 4px;
  }

  .by,
  .source {
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #2e6e9e;
    transition: color 0.3s;
  }
  a:hover {
    color: #000000;
    transition: color 0s;
  }
}

.o-footer__copyright {
  margin-bottom: 0;
}

@include oGridRespondTo(S) {
  .intro {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .logo {
    width: 37px;
    top: 6px;
    margin-right: 14px;
  }
  .shortstate {
    display: none;
  }
  .longstate {
    display: block;
  }
}


 @include oGridRespondTo(M) {
  .headline {
    font-size: 3em;
    margin: 0.3em 0;
  }
  .logo {
    width: 45px;
    top: 8px;
  }
  .intro {
      font-size: 1.3em;
      line-height: 1.4em;
    }
  .card {
    padding: 10px 0;
    margin-left: 40px;
  }
  .date-label {
    padding-left: 8px;
    font-size: 14px;
  }
  .blurb {
    display: block;
    color: oColorsGetPaletteColor('pink-tint5');
    font-size: 14px;
  }
  .date-heading {
    font-size: 14px;
  }
  .labels__rep,
  .labels__dem {
    font-size: 14px;
  }
  .delegates__dem,
  .delegates__rep {
    font-size: 24px;
  }
}

 @include oGridRespondTo(L) {
  .headline {
    font-size: 4em;
    margin: 0.5em 0;
  }
  .logo {
    width: 50px;
    top: 5px;
    margin-right: 20px;
  }
  .intro {
    font-size: 1.4em;
    line-height: 1.5em;
  }
}


// // fix for position of profile arrow in link on webkit browsers

// @media screen and (-webkit-min-device-pixel-ratio:0) {  
//   .story-promo {

//     & > .link {

//       &:after {
//         bottom: -38px;
//       }
//     }
//   }  
// }
