<div class="chart-holder" data-o-grid-colspan="6">
  <div class="chart-title">{{party}}</div>
  {{#each candidate}}
    <div class="candidate">
      {{> candidate_item .}}
    </div>
  {{/each}}
</div>