<div class="chart-holder" data-o-grid-colspan="12">
  <div class="chart-title">{{capitalLetter party}}</div>
  <div class="party-blurb {{party}}"></div>
  <div class="labels">
    <div>
      <div class="labels__holder o-grid-row">
        <div class="labels__dem" data-o-grid-colspan="4 M2 push8 Mpush10">Total/<br/>delegates to win</div>
      </div>
    </div>
  </div>
  {{#each candidate}}
    <div class="candidate o-grid-row {{#if droppedout}}dropout{{/if}}">
      {{> candidate_item .}}
    </div>
  {{/each}}
</div>